.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#lorem-output {
  margin-top: 2em;
  text-align: center;
  width: 50%;
}

#values-container {
  display: flex;
  flex-direction: row;
}

#values-container div {
  margin: 0em 0em 0em 2em;
}
